@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open sans";
}

/*header*/
header {
    font-family: 'Arizonia', cursive;
    font-size: xx-large;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    padding: 20px 50px;
    text-align: center;
    color: white;
}
  .flip-card {
    background-color: transparent;
    width: 150px;
    height: 150px;
    border: 1px solid #f1f1f1;
   
  }
  

  .flip-card-inner {
    position: relative;
    width: 150px;
    height: 150px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
 
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 150px;
    height: 150px;
 
    backface-visibility: hidden;
  }
  
 
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  

  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

/*main */
main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.left_section {
    position: static;
    max-width: 650px;
    padding:5px;
    background-color: turquoise;
    border-spacing: 20px;
}
h2 {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
}
dt {
    font-weight: 700;
}
dd {
    font-style: italic;
}

.right_section {
    padding:5px;
    background-color: darkcyan;
       font-size: x-large;
}

/*footer*/
footer {
    height: 50px;
    background-color: turquoise;
    animation: 3s infinite alternate slidein;
    text-align: center;
}

@keyframes slidein {
    from {
    margin-left: 100%;
      width: 300%;
    }
  
    to {
        margin-left: 0%;
      width: 100%;
    }
